@font-face {
  font-family: Norse-Bold;
  src: url(./public/fonts/Norse-Bold.otf);
}

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;

  display: flex;
  margin: 0;
}

.left-side {
  flex: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("./public/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.logo,
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 1rem;
}

.logo {
  height: 20vh;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}

.logo-image {
  padding: 8px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo-text {
  font-family: Norse-Bold, sans-serif;
  font-size: 8rem;

  display: flex;
  justify-content: left;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  flex: 6;

  display: flex;
  flex-direction: column;

  background-color: #fafafa;
}

.right-side #message,
.right-side #sign-up,
.right-side #log-in {
  flex: 1;
}

.right-side #message,
.right-side #log-in,
.right-side #sign-up > * {
  padding-left: max(24px, 10%);
  padding-right: max(24px, 10%);
}

.right-side #message {
  display: flex;
  flex-direction: column;
  justify-content: end;

  font-size: 22px;
  font-weight: 700;

  padding-bottom: 48px;
}

.right-side #sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0;
  border: 0;
  gap: 16px;
}

.right-side .input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Select only the header and forms group */
.right-side .input-fields > * {
  margin: 8px 0;
}

.right-side .input-fields > form {
  display: flex;
  flex-flow: row wrap;
  gap: 16px 32px;
}

.right-side .input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: min(40%, 280px);
  gap: 4px;
}

.right-side .input-field input {
  height: 20px;
  width: auto;

  padding: 2px 6px;
  border-color: #e5e7eb;
  border-radius: 4px;
}

.right-side .input-field input:invalid {
  border: 2px solid red;
}

.right-side .input-field input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 2px 2px 2px 0 gray;
}

.right-side .buttons #create-account {
  height: 50px;
  width: 200px;

  background-color: #396496;
  color: white;

  border: none;
  border-radius: 15px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
